---
---

@import "{{ site.theme }}";

.btn-github, .github-button, #view-on-github { 
  display: none !important; 
}

.page-header {
  /* This points to your image */
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
                    url('{{ "/assets/css/images/Pickles.jpg" | relative_url }}');
  
  /* This ensures the image fills the entire header area */
  background-size: cover;
  background-position: center;
  
  /* Optional: Adjust padding if you want a taller header */
  padding: 5rem 6rem;
}
