---
---

@import "{{ site.theme }}";

.btn-github, .github-button, #view-on-github { 
  display: none !important; 
}

.page-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                    url('/assets/images/Pickles.png');
  
  /* This ensures the image covers the whole area without stretching */
  background-size: cover;
  background-position: center;
  
  /* Set a minimum height so we can actually see the image */
  min-height: 300px;
  
  /* Centers your title/nav inside the header */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; /* Makes your text white so it stands out */
}
